
<div class="container h-100">

  <div class="row">
    <div class="col-3 mt-3" *ngFor="let movie of movieList.movies">
      <mat-card class="movie-card" >

        <img mat-card-image src="{{movie.image}}" class="card-image">
        <mat-card-content>
          <!--Expansion pannel-->
          <mat-expansion-panel class="w-100">
            <mat-expansion-panel-header>
              <mat-panel-title>
                {{movie.title}}
              </mat-panel-title>
            </mat-expansion-panel-header>

            <button mat-raised-button class="me-1" color="primary" *ngFor="let date of movie.dates" (click)="navigateToSeatPicker(movie.id, date)">{{date | date:'HH:mm dd/MM'}}</button>
          </mat-expansion-panel>
          <!-- End Expansion pannel -->
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>
