<mat-toolbar color="primary">
    <mat-toolbar-row>
      <button mat-icon-button id="logo" (click)="navigateIndex()">
        <mat-icon>movie_filter</mat-icon><span id="titulo">enFilm</span>
      </button>
  
      <span class="spacer"></span>
  
      <ng-container *ngIf="userAutenticado != null">
        <button mat-button id="userContainer" [matMenuTriggerFor]="menu" matTooltip="Tooltip">
            <mat-icon>account_circle</mat-icon>
            <span>{{userAutenticado.name}}</span>
        </button> 
        <mat-menu #menu="matMenu">
          <button mat-menu-item (click)="navegarHaciaDatosPersonales()">
            <mat-icon>account_circle</mat-icon>Modificar mis datos
          </button>

          <button mat-menu-item (click)="listaEntradas()">
            <mat-icon>movie_filter</mat-icon>
            <span>Lista de entradas</span>
          </button>


          <button *ngIf="userAutenticado.role == 1" mat-menu-item (click)="listaUsuarios()">
            <mat-icon>accessibility</mat-icon>
            <span>Lista de usuarios</span>
          </button>

          <button mat-menu-item (click)="confirmacionAbandonarSesion()">
            <mat-icon>exit_to_app</mat-icon>
            <span>Abandonar la sesión</span>
          </button>
        </mat-menu> 
      </ng-container>
    </mat-toolbar-row>
  </mat-toolbar>