.entrada-completa{

    width: 800px;
    height: 250px;
    background-image: url('../../../assets/img/entrada.png');
    background-size: 800px;


}

.title{
    width: 700px;

}

.price-qr{

}


img {
    width: 50%;
    height: 50%;
}