<div class="container">
    <div class="row mt-3">
      <div class="col-6 mx-auto card mt-4 mb-5">
        <form [formGroup]="userForm">
          <div class="card-title mt-3 ps-2 fs-4">
            INTRODUZCA DATOS DE USUARIO
          </div>
          <div class="row mt-3">
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input matInput id="email" formControlName="email" />
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Nombre</mat-label>
              <input matInput id="name" formControlName="name" />
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Apellidos</mat-label>
              <input matInput id="surname" formControlName="surname" />
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Teléfono</mat-label>
              <input matInput id="phone" formControlName="phone" />
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Método de pago</mat-label>
              <input matInput id="payment" formControlName="payment" />
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
  
          <div class="row">
            <mat-form-field appearance="outline">
              <mat-label>Password</mat-label>
              <input matInput id="password" type="password" formControlName="password" />
              <mat-hint></mat-hint>
            </mat-form-field>
          </div>
  
          <div class="row">
            <div class="col-5 mb-3 d-flex justify-content-around">
              <button color="primary" mat-raised-button [disabled]="userForm.invalid" (click)="registrar()">Registrar</button>
              <button class="bg-warning" mat-raised-button (click)="cancelar()">Cancelar</button>
            </div>
  
          </div>
        </form>
      </div>
    </div>
  </div>
  